{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post" class="formLogin">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div>
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="formLogin__title">Connectez-vous</h1>
    <div class="formLogin__input">
        <h2 for="inputEmail">Email</h2>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    </div>
    <div class="formLogin__input">
        <h2 for="inputPassword">Mot de passe</h2>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html
    #}
        <div>
            <label>
                <input type="checkbox" name="_remember_me"> Rester connecté ?
            </label>
        </div>


    <button class="formLogin__button" type="submit">
        <img src="{{ asset('img/login.svg') }}">
    </button>
</form>
{% endblock %}
