{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="formRegister">
        <h1 class="formRegister__title">S'enregistrer</h1>

        <div class="formRegister__input">
            {{ form_start(registrationForm) }}
        </div>
        <div class="formRegister__input">
            {{ form_row(registrationForm.email) }}
        </div>
        <div class="formRegister__input">
            {{ form_row(registrationForm.username) }}
        </div>
        <div class="formRegister__input">
            {{ form_row(registrationForm.plainPassword) }}
        </div>
        <div class="formRegister__input">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>
        <button class="formRegister__button" type="submit" >
            <img src="{{ asset('img/register.svg') }}">
        </button>
        {{ form_end(registrationForm) }}

    </div>
{% endblock %}
