
/* Page index des articles */
.articles {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 32px;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.articles__title {
    margin: 40px 0 20px 10%;
    color: white;
    font-weight: 600;
    font-size: 30px;
    display: flex;
    position: relative;
    align-items: center;
}

.articles__title > h1 {
    position: relative;
}

.articles__title > h1::after {
    content: "";
    background: #DD55C0;
    width: 60%;
    right: 0;
    bottom: -7px;
    height: 3px;
    position: absolute;
}

.articles__title > img  {
    display: block;
    margin: auto 10px auto 0;
}

.articles > .article {
    margin-top: 30px;
    width: 530px;
    height: 200px;
    border: 2px solid #DD55C0;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(180.77deg, rgba(17, 36, 77, 0.08) 50%, #11244D 99.33%);
}

.articles > .article:hover > .article__img {
    transform: scale(1);
}

.articles > .article > .article__img {
    transform: scale(1.05);
    transition: all 300ms ease-in-out;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.articles > .article > .article__text {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    color: white;
    width: 100%;
    padding: 20px;
    font-weight: 600;
}

.articles__button {
    display: flex;
    flex-direction: column;
    background: #DD55C0;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    height: 70px;
    width: 90px;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    margin: 10px;
}

.articles > .articles__button > span {
    display: block;
}

.articles > .article > .article__text > a {
    color: white;
}

/* Page single des articles */
.wrap__single {
    margin: 0 auto;
    width: 80%;
    color: white;
}

.single > .single__title {
    font-size: 35px;
    font-weight: 600;
    margin: 20px 0;
}

.single > .single__excerpt {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 20px;
    line-height: 1.3;
}

.single > .single__description {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 20px;
    line-height: 1.3;
}

.single > .single__img {
    width: 70%;
    margin: 0 auto;
    display: block;
}

@media (max-width: 768px) {
    .single > .single__img {
        width: 100%;
    }

    .articles > .articles__button {
        margin: 10px auto;
    }
}

.articlesHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addArticles {
    margin: 40px 10% 20px 0;
}

.rond_poubelle {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 30px;
}