a{
    text-decoration: none;
    color: white;
}

.a-disable {
    pointer-events: none;
    cursor: default;
    background-color: #D085C0 !important;
}

a{
    text-decoration: none;
    color: white;
}

.sessions {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.sessions__title {
    margin: 40px 0 20px 10%;
    color: white;
    font-weight: 600;
    font-size: 30px;
    display: flex;
    position: relative;
    align-items: center;
}

.session__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.session__form {
    margin: 40px 10% 20px 0;
}

.formSession {
    display: flex;
    gap: 8px;
}

.formSession > .formSession__button {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.sessions__title > h1 {
    position: relative;
}

.sessions__title > h1::after {
    content: "";
    background: #DD55C0;
    right: 0;
    width: 60%;
    bottom: -7px;
    height: 3px;
    position: absolute;
}

.sessions__title > img  {
    display: block;
    margin: auto 10px auto 0;
}

.sessions > .session {
    padding: 10px 16px;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 530px;
    height: 200px;
    border: 2px solid #DD55C0;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(180.77deg, rgba(17, 36, 77, 0.08) 50%, #11244D 99.33%);
}

.session__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.session__col {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
}

.session__img {
    position: absolute;
    z-index: 15;
    width: 230px;
    top: 0;
    transform: translate(-35%, -5%);
}

.session__nbPlayer {
    margin-top: 3rem;
}

.session__btn {
    background-color: #DD55C0;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    text-align: center;
    border: 2px solid transparent;
    transition: ease-in-out 0.2s;
}

.session__btn:hover {
    background-color: transparent;
    border: 2px solid #DD55C0;
}
 .session__col--btn {
     justify-content: flex-end;
 }

 /*One session*/

 .headerSession {
     display: flex;
     height: 220px;
     margin: 32px auto 0 auto;
     width: 80%;
     justify-content: space-between;
     border: 1px solid #DD55C0;
     border-radius: 12px;
     padding: 16px;
 }

.contentLeft{
    width: 33%;
}

 .imgSession {
     position: relative;
     z-index: 15;
     width: 300px;
     height: 300px;
     top: -25px;
     transform: translate(-35%, -5%);
     color: white;
 }

 .logoLol {
     height: 125px;
 }

 .creatorSession {
     color: white;
     font-size: 22px;
 }

 .sessionStart {
    color: white;
    font-size: 20px;
     margin-top: 20px;
     display: flex;
     align-items: center;
 }

 .creatorName{
     font-weight: 700;
 }

 .contentCenter {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     width: 33%;
 }

.contentRight{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.typeSession {
    color: white;
    text-align: right;
}

.bouttons {
    display: flex;
    gap: 16px;
    justify-content: end;
}

.sessionBtn {
    background-color: #DD55C0;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    border: 2px solid transparent;
    transition: ease-in-out 0.2s;
}

.sessionBtnIn {
    background-color: #68255a !important;
    border: 2px solid #DD55C0 !important;
}

.sessionBtn:hover {
    background-color: transparent;
    border: 2px solid #DD55C0;
}

.sessionBtnIn:hover {
    background-color: transparent !important;
    border: 2px solid #68255a !important;
}

.sectionSession {
    width: 80%;
    margin: 32px auto 0 auto;
    display: flex;
    height: 350px;
}

.listSession {
    width: 20%;
    border: 1px solid #DD55C0;
    border-radius: 12px;
    margin-right: 32px;
    padding: 16px;
    color: white;
    font-size: 18px;
}

.titleListing {
    margin-bottom: 32px;
}

.listPlayer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-decoration: underline #DD55C0 ;
}

.player {
    font-size: 16px;
    font-weight: 400;
}

.poubelle {
    position: absolute;
    top: 15px;
    right: 30px;
}

.tchatContent {
    width: 100%;
    border: 1px solid #DD55C0;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tchatTitle {
    color: white;
    font-size: 18px;
}

.tchatMessage {
    height: 72%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.tchatButtons {
    display: flex;
}

.tchatInput {
    width: 100%;
    margin-right: 16px;
    box-sizing: border-box;
    padding: 5px 10px;
    color: white;
    border: 2px solid #DD55C0;
    border-radius: 10px;
    background: none !important;
}

.tchatButton {
    background-color: #DD55C0;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    cursor: pointer;
}