{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .article {
            width: 480px !important;
        }

        .articles__title {
            margin-top: 15px;
        }

        .session {
            width: 470px !important;
        }
    </style>

    <section class="statsAccueil">
        <div class="statsItem">
            <img src="{{ asset('img/user.svg') }}">
            <div class="statsContent">
                <p class="statsTitle">Nombre d’utilisateurs</p>
                <p>{{ user|length  }}</p>
            </div>
        </div>
        <div class="statsItem">
            <img src="{{ asset('img/online.svg') }}">
            <div class="statsContent">
                <p class="statsTitle">Nombre de partie en cours</p>
                <p>{{ sessionsNotLaunched|length  }}</p>
            </div>
        </div>
        <div class="statsItem">
            <img src="{{ asset('img/session.svg') }}">
            <div class="statsContent">
                <p class="statsTitle">Nombre de partie en cours</p>
                <p>{{ sessionsLaunched|length  }}</p>
            </div>
        </div>
    </section>

    <div class="sessions__title">
        <img src="{{ asset('img/session.svg') }}">
        <h1>Sessions</h1>
    </div>
    <section class="sessions">
        {% for session in sessions %}
            {% if (not session.isLaunched or app.user in session.utilisateurs) %}
            <article class="session">
                <ul class="session__list">
                    <li class="session__col"><img class="session__img" src="{{ asset('img/sessions/'~session.type.img~'.png') }}"></li>
                    <li class="session__col">
                        <img class="session__lol" src="{{ asset('img/lol.png') }}" alt="">
                        <p class="session__type">Type : {{ session.type.name }}</p>
                        <p class="session__creator">Créateur : <a class="underline" href="{{ path("app_utilisateur", { 'id': session.idCreator.id}) }}">{{ session.idCreator.username }}</a></p>
                        <p class="session__nbPlayer">Joueurs : {{ session.utilisateurs|length }}/{{ session.type.nbPlayers }}</p>
                    </li>
                    <li class="session__col session__col--btn">
                        <a href="/session/{{ session.id }}" class="session__btn {% if (not app.user) %}a-disable{% endif %} {% if app.user in session.utilisateurs %}sessionBtnIn{% endif %}">
                            {% if app.user in session.utilisateurs %}
                                Accèder
                            {% else %}
                                Rejoindre
                            {% endif %}
                        </a>
                        {% if (app.user and (session.idCreator.id == app.user.id or 'ROLE_ADMIN' in app.user.roles)) %}
                            <a class="poubelle" href="{{ path("delete_session", { 'id': session.id}) }}"><img src="{{ asset('/img/poubelle.svg') }}" alt=""></a>
                        {% endif %}
                    </li>
                </ul>
            </article>
            {% endif %}
        {% endfor %}
        <a class="articles__button" href="{{ path('app_session') }}">Voir <span>+</span></a>
    </section>

    <div class="articles__title">
        <img src="{{ asset('img/actu.svg') }}">
        <h1>Actus</h1>
    </div>
    <section class="articles">
        {% for article in articles %}
            <article class="article">
                <img class="article__img" src="{{ article.img }}">
                <div class="article__text">
                    <p>{{ article.title }}</p>
                    <a href="articles/{{ article.id }}">En voir plus</a>
                </div>
            </article>
        {% endfor %}
        <a class="articles__button" href="{{ path('articles_index') }}">Voir <span>+</span></a>
    </section>

{% endblock %}
