{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}

{% if app.user %}
    <h1>Créer une session de jeu</h1>
    <form action="{{ path('submitted_session') }}" method="post">
        <input hidden value="{{ app.user.email }}" type="text" name="user">
        <select name="type" id="form_type">
            <option selected hidden>Choisir un mode de jeu</option>
            {% for type in types %}
                <option value="{{ type.name }}">{{ type.name }} ({{ type.nbPlayers }} joueurs max)</option>
            {% endfor %}
        </select>
        <button type="submit">Créer</button>
    </form>
{% endif %}

{% endblock %}
