{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}


{% block body %}
    {% if app.user %}
        <div class="session__header">
            <div class="sessions__title">
                <img src="{{ asset('img/session.svg') }}">
                <h1>Sessions</h1>
            </div>
            <form class="session__form formSession" action="{{ path('submitted_session') }}" method="post">
                <input hidden value="{{ app.user.email }}" type="text" name="user">
                <select name="type" id="form_type">
                    <option selected hidden>Choisir un mode de jeu</option>
                    {% for type in types %}
                        <option value="{{ type.name }}">{{ type.name }} ({{ type.nbPlayers }} joueurs max)</option>
                    {% endfor %}
                </select>
                <button class="formSession__button" type="submit"><img src="{{ asset('img/plus.svg') }}"></button>
            </form>
        </div>
    {% endif %}

    <section class="sessions">
        {% for session in sessions %}
            {% if (not session.isLaunched or app.user in session.utilisateurs) %}
            <article class="session">
                <ul class="session__list">
                    <li class="session__col"><img class="session__img" src="{{ asset('img/sessions/'~session.type.img~'.png') }}"></li>
                    <li class="session__col">
                        <img class="session__lol" src="{{ asset('img/lol.png') }}" alt="">
                        <p class="session__type">Type : {{ session.type.name }}</p>
                        <p class="session__creator">Créateur : <a class="underline" href="{{ path("app_utilisateur", { 'id': session.idCreator.id}) }}">{{ session.idCreator.username }}</a></p>
                        <p class="session__nbPlayer">Joueurs : {{ session.utilisateurs|length }}/{{ session.type.nbPlayers }}</p>
                    </li>
                    <li class="session__col session__col--btn">
                        <a href="/session/{{ session.id }}" class="session__btn {% if (not app.user) %}a-disable{% endif %} {% if app.user in session.utilisateurs %}sessionBtnIn{% endif %}">
                            {% if app.user in session.utilisateurs %}
                                Accèder
                            {% else %}
                                Rejoindre
                            {% endif %}
                        </a>
                        {% if (app.user and (session.idCreator.id == app.user.id or 'ROLE_ADMIN' in app.user.roles)) %}
                            <a class="poubelle" href="{{ path("delete_session", { 'id': session.id}) }}"><img src="{{ asset('/img/poubelle.svg') }}" alt=""></a>
                        {% endif %}
                    </li>
                </ul>
            </article>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}
