{% extends 'base.html.twig' %}

{% block title %}Hello JouerController!{% endblock %}

{% block body %}
    <main class="headerSession">
        <div class="contentLeft">
            <img class="imgSession" src="{{ asset('img/sessions/'~session.type.img~'.png') }}">
        </div>
        <div class="contentCenter">
            <img class="logoLol" src="{{ asset('img/lol.png') }}" alt="">
            <p class="creatorSession">Session créée par <span class="creatorName">{{ session.idCreator.username }}</span></p>
            <p class="sessionStart">
                {% if (session.isLaunched) %}
                    La session est lancée ! <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_aYiP6b.json"  background="transparent"  speed="1"  style="width: 100px; height: 100px;"  loop  autoplay></lottie-player>
                {% endif %}
            </p>
        </div>
        <div class="contentRight">
            <p class="typeSession">Type : {{ session.type.name }}</p>
            <div class="bouttons">
                {% if (app.user and (session.idCreator.id == app.user.id) and not session.isLaunched) %}
                    <p class="sessionBtn"><a href="{{ path('start_session', { 'id': session.id }) }}">Lancer</a></p>
                {% endif %}

                {% if (app.user and (session.idCreator.id == app.user.id )) %}
                    <a href="{{ path("delete_session", { 'id': session.id}) }}"><img src="{{ asset('/img/poubelle.svg') }}" alt=""></a>
                    {% else %}
                    <a class="sessionBtn" href="{{ path("leave_session", { 'id': session.id}) }}">Quitter la session</a>
                {% endif %}
            </div>
        </div>
    </main>
    <section class="sectionSession">
        <div class="listSession">
            <p class="titleListing">Joueurs : {{ session.utilisateurs|length }}/{{ session.type.nbPlayers }}</p>
            <ul class="listPlayer">
                {% for user in session.utilisateurs %}
                    <li class="player">
                        <a href="{{ path('app_utilisateur', { 'id': user.id }) }}">{{ user.username }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tchatContent">
            <p class="tchatTitle">Chat</p>
            <ul class="tchatMessage" id="chat">

            </ul>
            <div class="tchatButtons">
                <input class="tchatInput" type="text" name="title" id="input"/>
                <p class="sessionBtn" id="button">Envoyer</p>
            </div>
        </div>
    </section>
    <script>
        let button = document.getElementById('button');
        let input = document.getElementById('input');
        let list = document.getElementById('chat');
        console.log(button)
        button.addEventListener('click', () => {
            let p = document.createElement("p");
            p.innerHTML = "Gaby2k : " + input.value
            list.appendChild(p)
            input.value = ""
            window.setTimeout(()=>{
                let p2 = document.createElement("p");
                p2.innerHTML = "Remtkt : yes et toi ?"
                list.appendChild(p2)
            }, 4000);
        })

    </script>
{% endblock %}
