<footer class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div>
            <p class="navbar-brand">&copy; The Boss</p>
        </div>

        <div class="nav-item dropstart">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Aide !
            </button>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="https://symfony.com/doc/5.4/mercure.html">Mercure</a></li>
                <li><a class="dropdown-item" href="https://symfony.com/doc/5.4/components/messenger.html">Messenger</a></li>
                <li><a class="dropdown-item" href="https://symfony.com/doc/5.4/workflow.html">Workflow</a></li>
            </ul>
        </div>
    </div>
</footer>