{% extends 'base.html.twig' %}

{% block body %}

    <form class="formArticle" action="{{ path('submitted_article') }}" method="post">
        <input hidden value="{{ app.user.email }}" type="text" name="user">

        <label for="title">Titre de l'article</label>
        <input class="formArticle__input" type="text" name="title" id="title"/>

        <label for="excerpt">Extrait</label>
        <textarea class="formArticle__input" name="excerpt" id="excerpt" cols="30" rows="10"></textarea>

        <label for="description">Contenu</label>
        <textarea class="formArticle__input" name="description" id="description" cols="30" rows="10"></textarea>

        <label for="img">Image de l'article</label>
        <input class="formArticle__input" type="text" name="img" id="img"/>

        <button type="submit" class="formArticle__button"><img src="{{ asset('img/plus.svg') }}"></button>
    </form>

{% endblock %}
