{% extends 'base.html.twig' %}

{% block body %}

    <section class="wrap__single">
        {% if (app.user and 'ROLE_ADMIN' in app.user.roles) %}
        <div class="rond_poubelle" style="margin-top: 30px">
            <a href="{{ path("delete_article", { 'id': article.id}) }}"><img src="{{ asset('/img/poubelle.svg') }}" alt=""></a>
        </div>
        {% endif %}
        <article class="single">
            <img class="single__img" src="{{ article.img }}">
            <h1 class="single__title">{{ article.title }}</h1>
            <h2 class="single__excerpt">{{ article.excerpt }}</h2>
            <p class="single__description">{{ article.description }}</p>
        </article>
    </section>
{% endblock %}
